html {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;
}
* {
    font-family: 'Open Sans', sans-serif;
    color: #A39442;
}
ul {
    padding: 0;
}
li {
    text-align: center;
    margin: 10px;
}
.nav-container {
    background-color: #4251A3;
    border-radius: 20px;
}
.btn {
    width: 50%;
    padding: 10px;
    background-color: rgb(248, 232, 211);
    border: none;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 2px 1px #000000; 
    box-shadow: 0px 0px 3px 1px #000000;
}
.btn:hover {
    background-color: burlywood;
    color: black;
    transition: all 0.4s ease-in-out;
}
.ul-nav {
    justify-content: space-evenly;
    list-style: none;
    margin-bottom: 10vw;
}
a {
    font-size: 6vw;
    text-decoration: none;
}
.titulo-web:hover {
    color: black;
    transition: all 0.5s ease-in-out;
}
.titulo-web:active {
    color: green;
    background-color: white;
    border-radius: 50%;
}
.who {
    max-width: 900px;
    text-align: center;
    padding-bottom: 40px;
}
.who img {
    max-width: 60%;
}
.text-container {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-container > h2, h1, p {
    margin-bottom: 20px;
}
h1 {
    font-size: 6vw;
}
h2 {
    font-size: 7vw;
}
p {
    font-size: 4vw;
}
.titulo-web {
    padding: 20px;
    text-align: center;
}.web-container{
    padding-bottom: 30px;
}
.web-container, .web-container div {
    -webkit-box-shadow: inset 0px 0px 8px -1px rgba(0,0,0,0.20); 
    box-shadow: inset 0px 0px 8px -1px rgba(0,0,0,0.20);
}
.slider {
	width: 80%;
    margin: auto;
    margin-bottom: 40px;
	overflow: hidden;
}
.slider ul {
	display: flex;
	padding: 0;
	width: 300%;
	
	animation: cambio 15s infinite alternate linear;
}
.slider li {
	width: 100%;
	list-style: none;
}
.slider img {
	width: 100%;
}

@keyframes cambio {
	0% {margin-left: 0;}
	30% {margin-left: 0;}
	
	35% {margin-left: -100%;}
	65% {margin-left: -100%;}
	
	70% {margin-left: -200%;}
	100% {margin-left: -200%;}

}


footer p {
    padding: 3vw;
    background-color: #4251A3;
    font-size: 4vw;
    text-align: center;
    margin-top: 30px;
    border-radius: 20px;
}

@media(min-width:480px){
    .ul-nav {
        display: flex;
    }
    .who {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .who img {
        width: 50vw;
    }
    a {
        font-size: 4vw;
    }
    .text-container {
        text-align: left;
        max-width: 40%;
    }
    h2 {
        font-size: 4vw;
    }
    h1 {
        font-size: 3vw;
    }
    p {
        font-size: 2vw;
    }
    footer > p {
        font-size: 2vw;
    }
}
.overlay {
    background-color: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}
.overlay.active {
    visibility: visible;
}
.popup {
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .3);
    border-radius: 3px;
    font-family: sans-serif;
    padding: 20px;
    text-align: center;
    width: 600px;
    opacity: 0;
    transition: .5s ease all;
    transform: scale(0.7);
}
.btn-cerrar-pop-up {
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    transition: .3s ease all;
}
.btn-cerrar-pop-up:hover {
    color: black;
    transition: all 0.5s ease-in-out;
}
.popup h2 {
    opacity: 0;
}
.popup form .input-container {
    opacity: 0;
}
.popup form .input-container input {
    width: 100%;
    margin-bottom: 20px;
    height: 52px;
    line-height: 52px;
    font-size: 18px;
    text-align: center;
    border: 1px solid gray;
}
.popup.active {
    opacity: 1;
    transform: scale(1);
}
.popup.active h2 {
    animation: entradaTitulo 1s ease .5s forwards;
}
.popup.active .input-container {
    animation: entradaInputs 1.3s ease .5s forwards;
}
#btn-cerrar-pop-up {
    border: none;
}
@keyframes entradaTitulo {
    from{
        transform: translateY(-25px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes entradaInputs {
    from{
        transform: translateY(25px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}