* {
    box-sizing: border-box;
    background-color: rgb(23, 21, 31);
}
iframe {
    height: 10vw;
    margin-bottom: 20px;
}
.ul-nav {
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.ul-nav a {
    text-decoration: none;
    color: white;
    font-size: 4vw;
}
a:hover {
    color: red;
    transition: all 0.3s;
}
a:active {
    color: green;
    background-color: white;
    border-radius: 50%;
}